@{
    ViewData["Title"] = "Ошибка";
}
<!DOCTYPE html>
<html>
<head>
    <title>Ошибка</title>
    <link rel="stylesheet" href="~/css/Registration.css">
</head>
<body>
    <script>
        alert("Введены некорректные данные!");
    </script>
</body>
</html>