@{
    ViewData["Title"] = "Ошибка";
}
<!DOCTYPE html>
<html>
<head>
    <title>Ошибка</title>
    <link rel="stylesheet" href="~/css/Registration.css">
</head>
<body>
    <form id="errorForm" asp-controller="Error" asp-action="Error" method="post">
        <script>
            alert("Введены некорректные данные!");

            window.onload = function () {
                document.getElementById("errorForm").submit();
            };
        </script>
    </form>
</body>
</html>
