<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Profil.css">
    <title>Ваш профиль</title>
</head>
<body>
    <div class="profilhead-text">
        <h3>Добро пожаловать, @ViewBag.UserName!</h3>
        <label>Ваша почта: @ViewBag.UserEmail</label>
    </div>
</body>
</html>
