@{
    ViewData["Title"] = "Регистрация";
}
<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="~/css/Registration.css">
</head>
<body>
    <form asp-controller="Registration" asp-action="Register" method="post">
    <h2>Введите свои данные</h2>
        <div class="registration-strings">
            <label>Имя</label>
            <input type="text" name="User_name" />
            <label>Email</label>
            <input type="email" name="User_email" />
            <label>Пароль</label>
            <input type="text" name="User_password" />
            <input type="submit" value="Отправить" />
        </div>
    </form>
</body>
</html>