<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О разработчике</title>
    <link rel="stylesheet" href="~/css/AboutDeveloper.css">
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="gtuens-text">
                <h2>Информация о разработчике</h2>
                <h3>GT Uens</h3>
            </div>
            <div class="devinfo-text">
                <h2 class="devinfo-text">Сайт российского разработика компьютерных и мобильных игр. Здесь вы можете просмотреть список игр разработчика, оценить, оставить комментарий.</h2>
                <br>
                <h4 class="kontactheader-text">Контактная информация:</h4>
                <a href="https://vk.com/metallarry">ВКонтакте</a>
            </div>
        </main>
    </div>
</body>
</html>
