<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Игры от GTUens</title>
    <link rel="stylesheet" href="~/css/Mainstyle.css">
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <section>
                <h2>Все игры разработчика</h2>
                <div class="game-list">
                    <div class="game-item">
                        <img src=""></img>
                        <h3>Название игры 1</h3>
                        <p>Описание игры 1</p>
                    </div>
                    <div class="game-item">
                        <img src=""></img>
                        <h3>Название игры 2</h3>
                        <p>Описание игры 2</p>
                    </div>
                    <div class="game-item">
                        <img src=""></img>
                        <h3>Название игры 3</h3>
                        <p>Описание игры 3</p>
                    </div>
                    <div class="game-item">
                        <img src=""></img>
                        <h3>Название игры 4</h3>
                        <p>Описание игры 4</p>
                    </div>
                    <div class="game-item">
                        <img src=""></img>
                        <h3>Название игры 5</h3>
                        <p>Описание игры 5</p>
                    </div>
                    <div class="game-item">
                        <img src=""></img>
                        <h3>Название игры 6</h3>
                        <p>Описание игры 6</p>
                    </div>
                    <div class="game-item">
                        <img src=""></img>
                        <h3>Название игры 7</h3>
                        <p>Описание игры 7</p>
                    </div>
                    <div class="game-item">
                        <img src=""></img>
                        <h3>Название игры 8</h3>
                        <p>Описание игры 8</p>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>
