<div class="container">
    <div class="main-content">
        <h2>Новые игры</h2>
        <div class="game-list">
            <div class="game-item">
                <h3>Скоро...</h3>
            </div>
        </div>
    </div>
    <div class="developer-info">
        <h2>GT Uens</h2>
        <p>Разработчик игр из России</p>
    </div>

</div>